@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(241,245,241);
    
}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    body {
      width: 100%;
      overflow-x: hidden;
    }
  }
